body {
    background-color: white;
    color: black
}

.border-box {
    border: 0.1rem ;
    padding: 0.1rem;
}


p {
    color: black;
}

h2 {
    color: black;
}

p {
    color: black;
}